body {
	background-color: transparent;
	background-image: url("../img/_background.jpg");
	background-size: 1920px 1070px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	}
	
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: rgb(46,42,136);
	border-top-width: 2px;
	border-style: solid none none;
	border-color: #f1f787;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	}

h2, b, th {
    color: rgb(46,42,136);
}
	
footer.shown {
	opacity: 1;
	}
	
nav {
	min-height: 116px;
	-webkit-transition: min-height 0.5s;
	transition: min-height 0.5s;
	}
	
footer > p {
	margin-right: 15px;
	display: inline;
	}

td > a {
    font-family: Source Sans Pro;
	color: #000000;
}

td > a:hover {
    text-decoration: none;
	color:  rgb(46,42,136);
}
	
footer > p, a {
	font-family: Source Sans Pro;
	color: #ffff40;
	}
	
footer > p > a:hover {
	text-decoration: none;
	color: #fff;
	}
	
.dropdown-item {
	width: 200px;
	}
	
.dropdown-menu {
	background-color: #f1f787;
	}
	
.fulltext {
	text-align: left;
	padding-left: 38px;
	padding-right: 40px;
	padding-top: 65px;
	}
	
.navbar {
	background-color: rgba(46,42,136,0.7);
	border-bottom-width: 2px;
	border-style: none none solid;
	border-color: #f1f787;
	}

.nav-item {
	width: 200px;
	text-align: center;
	border-width: 1px;
	border-style: none solid none;
	border-color: #f1f787;
	}
	
.nav-item:hover {
	background-color: rgba(92,84,255,0.8);
	}

.nav-link {
	font-family: Courgette;
	font-size: 24px;
	color: #f1f780 !important;
	}
	
.page-content {
	background-color: rgba(242,249,249,0.7);
	margin-top: 200px;
	}
	
nav.shrink {
	min-height: 50px;
	}
	
#nav-logo {
	width: 150px;
	}